.page-header
  %h1
    Account Activation for
    %br
    %i #{resource.email}
.row
  .span14
    = twitter_bootstrap_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'put', :class => "form-stacked"}, :id => 'activation-form' do |f|
      = f.inputs do
        - if @requires_password
          = f.password_field :password, "Choose a password"
          = f.password_field :password_confirmation
        = hidden_field_tag :confirmation_token,@confirmation_token
      = f.actions do
        = f.submit "Activate"