- show_chart = current_user and (ans = @question.answered_by(current_user.id))
=content_for :javascripts do
	-if show_chart
		:javascript
			window.onload = function () {
				var y = #{@question.yes_count},
					n = #{@question.no_count},
					d = #{@question.dont_care_count},
					data = [y,n,d],
					cy = '#5bb65b',
					cn = '#da4e49',
					cd = '#999999',
					colors = Array(3);
				if(y >= n && n >= d) {
					colors = [cy, cn, cd];
				}else if(y >= d && d >=n){
					colors = [cy, cd, cn];
				}else if(n >= y && y >= d){
					colors = [cn, cy, cd];
				}else if(n >= d && d >= y){
					colors = [cn, cd, cy];
				}else if(d >= y && y >= n){
					colors = [cd, cy, cn];
				}else if(d >= n && n >= y){
					colors = [cd, cn, cy];
				}
				//
				var r = Raphael("question_pie_chart", 275, 150),
					pie = r.piechart(200, 75, 50, data, { legend: ["%% - Yes", "%% - No", "%% - Don't Care"], legendothers: '0% - Other', legendpos: "west", colors: colors });
					r.text(200, 75, "Answers").attr({ font: "20px sans-serif" });
				//
				pie.hover(function () {
					this.sector.stop();
					this.sector.scale(1.1, 1.1, this.cx, this.cy);
					//
					if (this.label) {
						this.label[0].stop();
						this.label[0].attr({ r: 7.5 });
						this.label[1].attr({ "font-weight": 800 });
					}
				}, function () {
					this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");
					//
					if (this.label) {
						this.label[0].animate({ r: 5 }, 500, "bounce");
						this.label[1].attr({ "font-weight": 400 });
					}
				});
			};
		

.answer
	-if show_chart
		.row
			%h3.pull-right
				%span.font-thin Your Answer &middot;
				= ans.state.titleize
			#question_pie_chart.pull-right
			
	-else
		%h3
			Answer
		= form_for( @question.answers.new, :url => "/questions/#{@question.id}/answers" ) do |f|
			= text_area_tag :comment, nil, :class => "span4", :rows => 3, :placeholder => 'Comment (optional)'	
			.row
				= label :state_event_ans_, 'yes', :class => 'btn btn span1'
				= radio_button_tag :state_event, :ans_yes, false, :onclick => "$('#new_answer').submit();", :class => 'off-screen'
				
				= label :state_event_ans_, 'no', :class => 'btn btn span1'
				= radio_button_tag :state_event, :ans_no, false, :onclick => "$('#new_answer').submit();", :class => 'off-screen'
				
				= label :state_event_ans_, "Don't Care", :class => 'btn btn span1', :for => :state_event_ans_dont_care
				= radio_button_tag :state_event, :ans_dont_care, false, :onclick => "$('#new_answer').submit();", :class => 'off-screen'
