-content_for :title do "questions" end

#questions
	.page-header
		%h1 
			Questions 
			%span{rel: 'tooltip', 'data-placement' => 'top', 'data-delay' => 500, 'data-original-title' => "ô_o"} I've 
			Answered
	.row
		.span12
			.sub-header 
				.pull-right
					== "?#{request.query_string}"
				%h3 
					= raw page_entries_info(@questions)
		
			%table.table
				%tr
					%th Question
					%th{rel: 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => "answer count"} ANS
					%th{rel: 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => "yes count"} Y
					%th{rel: 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => "no count"} N
					%th{rel: 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => "don't care count"} DC
					%th Date
					%th Controller
					%th Action
					%th Id
					%th Url
					%th Votes
					%th Trend
				- @questions.each do |question|
					%tr
						%td
							= link_to truncate(question.question, :length => 30), question, :rel => 'tooltip', 'data-placement' => 'right', 'data-original-title' => question.question
						%td
							= question.answer_count
						%td
							= question.yes_count
						%td
							= question.no_count
						%td
							= question.dont_care_count
						%td
							= time_tag question.created_at, "#{time_ago_in_words(question.created_at)} ago"
						%td
							= link_to question.questionable_controller, "/questions?q_controller=#{question.questionable_controller}"
						%td
							= link_to question.questionable_action, "/questions?q_action=#{question.questionable_action}"
						%td
							- if question.questionable_sid
								= link_to question.questionable_sid, "/questions?q_sid=#{question.questionable_sid}"
							- else
								none
						%td
							= link_to truncate(question.questionable_url, :length => 30), "/questions?q_url=#{question.questionable_url.html_safe}", :rel => 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => question.questionable_url
						%td
							= question.plusminus
						%td
							-# TODO: make this work. up, right, down arrow for trend up, sideways, down 
							%i.icon-arrow-right

			.pull-right
				-# TODO make a session variable for question_per and use it to set the default if per is ever changed
				-# remove per from query string and optionally add an ampersand
				- query_string = request.query_string.gsub(/(&per|per)=([0-9][0-9][0-9]|[0-9][0-9]|[0-9])/, '')
				- query_string += "\&" unless query_string.blank?
				= link_to 10, "/questions?#{query_string}per=10"
				&middot;
				= link_to 30, "/questions?#{query_string}per=30"
				&middot;
				= link_to 100, "/questions?#{query_string}per=100"
			= paginate @questions