-content_for :title do "#{@profile.name.possessive} profile" end

.page-header
	%h1 
		= @profile.name
.row
	.span4
		.sub-header 
			%h2.inline 
				Profile
			= link_to 'Edit', edit_profile_path(@profile)
		%br
		.row
			.span1
				%h4 Bio Tags
			.span3
				%p
					= @profile.bio_tag_list
		.row
			.span1
				%h4 Skills
			.span3
				%p
					= @profile.skill_list
		.row
			.span1
				%h4 Needs
			.span3
				%p
					= @profile.need_list
	.span8
		.sub-header 
			%h2 
				Projects
				.pull-right 
					= link_to "New", new_user_project_path(@profile.user)
		%table.table
			- @profile.user.projects.each do |project|
				%tr
					%td
						%h3
							= link_to project.name, [@profile.user, project]