-content_for :title do "#{@profile.name.possessive} profile" end

.page-header
	%h1 
		= @profile.name
	%p.pull-right
		= link_to 'Edit', edit_profile_path(@profile)
.row
	.span12
		%p
			%b Bio Tags:
			= @profile.bio_tag_list
		%p
			%b Skills:
			= @profile.skill_list
		%p
			%b Needs:
			= @profile.need_list

		
