= div_for comment, class: "#{current_user == comment.user ? 'by-me' : ''} #{comment.user == comment.commentable.user ? 'by-commentable' : ''}" do
	.row-fluid
		.span12.comment-content
			.comment-avatar
				= link_to comment.user.profile do
					= image_tag comment.user.avatar.image.small.url, :class => 'circle', width: 40
			.comment-text
				.arrow-left
				.inner
					.row-fluid.top
						.span12
							= raw "<strong>#{hovercard comment.user}</strong>"
							
					.row-fluid.middle
						.span12
							= markdown comment.comment

					.row-fluid.bottom
						.span12
							= render 'comments/vote', comment: comment
							&middot;
							= link_to "Reply", "#"
							- if can?(:destroy, comment)
								&middot;
								= link_to "Edit", "/comments/#{comment.id}/edit", remote: true
								&middot;
								= link_to "Delete", comment, method: :delete, remote: true, confirm: "Are you sure?"
							&middot;
							%h6.display-inline-block= "#{distance_of_time_in_words_to_now comment.created_at} ago"
							- if can?(:destroy, comment)
								&middot;
								%p.display-inline-block= "(#{distance_of_time_in_words(comment.created_at + 15.minutes - DateTime.now.utc)} left to make changes)"

- unless comment.comments.blank?
	.row-fluid
		.span1          
		.span11         
			= render 'comments/comments', commentable: comment