- comment_url = CGI.escape "#{root_url[0...-1]}#{request.path}#comment_#{comment.id}"
= div_for comment, class: "#{current_user == comment.user ? 'by-me' : ''} #{comment.user == comment.commentable.user ? 'by-commentable' : ''}" do
	.row-fluid
		.span12.comment-content
			.comment-avatar
				= link_to comment.user.profile do
					= image_tag comment.user.avatar.image.small.url, :class => 'circle'

			.comment-text
				.arrow-left
					.mini-arrow-left
				.inner
					.row-fluid.top
						.span12
							= hovercard comment.user
							- if comment.user == comment.commentable.user
								&middot;
								%h5.display-inline-block
									%i.icon-wrench
							
					.row-fluid.middle
						.span12
							= tagged_markdown comment.comment

					.row-fluid.bottom
						.span12
							= render 'comments/vote', comment: comment
							&middot;
							= link_to "Reply", "#"
							- if can?(:destroy, comment)
								&middot;
								= link_to "Edit", "/comments/#{comment.id}/edit", remote: true
								&middot;
								= link_to "Delete", comment, method: :delete, remote: true, confirm: "Are you sure?"
							&middot;
							%h6.display-inline-block= "#{distance_of_time_in_words_to_now comment.created_at} ago"
							- if can?(:destroy, comment)
								&middot;
								%p.display-inline-block= "(#{distance_of_time_in_words(comment.created_at + 15.minutes - DateTime.now.utc)} left to make changes)"
							&middot;
							%a.opacity5{:href => "http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbxnj-1.0&url=#{comment_url}&pubid=ra-4e07edfe1206c99f", :target => "_blank"}
								%img{:alt => "Facebook", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/facebook.gif"}/
							%a.opacity5{:href => "http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbxnj-1.0&url=#{comment_url}&pubid=ra-4e07edfe1206c99f", :target => "_blank"}
								%img{:alt => "Twitter", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/twitter.gif"}/
							%a.opacity5{:href => "http://api.addthis.com/oexchange/0.8/forward/email/offer?pco=tbxnj-1.0&url=#{comment_url}&pubid=ra-4e07edfe1206c99f", :target => "_blank"}
								%img{:alt => "Email", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/email.gif"}/

	- unless comment.comments.blank?
		.row-fluid
			.span1
			.span11
				= render 'comments/comments', commentable: comment