%div{ id: "#{commentable.class.to_s.downcase}_#{commentable.id}_comments"}
	
	- unless commentable.comments.blank? 
		%h6 
			= pluralize(commentable.comments.count, "Comment")
			%i.icon-comments
	
	.comments
		- commentable.comments.each do |comment|
			= render 'comments/comment', comment: comment
	
	- unless commentable.class.to_s == 'Comment'
		= render 'comments/form', comment: commentable.comments.new