.comment.by-me
	.row-fluid
		.span12.comment-content
			.comment-avatar
				- if current_user
					= link_to current_user.profile do
						= image_tag current_user.avatar.image.small.url, :class => 'circle'
				- else
					= image_tag Profile.new.avatar.image.small.url, :class => 'circle'
			.comment-text
				.arrow-left
					.mini-arrow-left
				.inner
					= simple_form_for comment, (current_user ? {remote: true} : {remote: false}) do |f|
						= f.hidden_field :commentable_id, value: comment.commentable_id
						= f.hidden_field :commentable_type, value: comment.commentable_type
						.row-fluid.top
							.span12
								- if current_user
									= hovercard current_user
									- if current_user == comment.commentable.user
										&middot;
										%h5.display-inline-block
											%i.icon-wrench
								- else
									%h5 me
								
						.row-fluid.middle
							.span12
								= f.input :comment, label: false, input_html: { class: 'span12', rows: "3", placeholder: "New comment" }
									
						.row-fluid.bottom{style: "margin-bottom: -11px;"}
							.span12
								- if comment.id
									= f.button :submit, 'Save Comment', :class => 'btn-success btn-large'
								- else
									= f.button :submit, 'Post Comment', :class => 'btn-success btn-large'
								&middot;
								%h6.display-inline-block= "just now"