%span.comment-vote
    - if current_user  
        %span.count
            = comment.votes_for
        %span.up        
            - if current_user.voted_for? comment
                = link_to comment_url(comment, comment: {cast_vote: {vote: :cancel}}), method: :put, remote: :true do
                    %i.icon-arrow-up.color-yes
            - else
                = link_to comment_url(comment, comment: {cast_vote: {vote: :for}}), method: :put, remote: :true do
                    %i.icon-arrow-up.color-dont-care
        &middot;
        %span.down       
            - if current_user.voted_against? comment
                = link_to comment_url(comment, comment: {cast_vote: {vote: :cancel}}), method: :put, remote: :true do
                    %i.icon-flag.color-no
            - else
                = link_to comment_url(comment, comment: {cast_vote: {vote: :against}}), method: :put, remote: :true do
                    %i.icon-flag.color-dont-care

    - else 
        %span.count
            = comment.votes_for
        %span.up       
            = link_to comment_url(comment, comment: {cast_vote: {vote: :for}}), method: :put do
                %i.icon-arrow-up.color-dont-care
        &middot;
        %span.down       
            = link_to comment_url(comment, comment: {cast_vote: {vote: :against}}), method: :put do
                %i.icon-flag.color-dont-care





