.comment-vote
    - if current_user  
        %span.up        
            - if current_user.voted_for? comment
                = link_to comment_url(comment, comment: {cast_vote: {vote: :cancel}}), method: :put, remote: :true do
                    %i.icon-arrow-up
            - else
                = link_to comment_url(comment, comment: {cast_vote: {vote: :for}}), method: :put, remote: :true do
                    %i.icon-arrow-up.opacity3
        %span.count
            = pluralize comment.plusminus, 'vote'

    - else 
        %span.up       
            = link_to comment_url(comment, comment: {cast_vote: {vote: :for}}), method: :put do
                %i.icon-arrow-up.opacity3
        %span.count
            = pluralize comment.plusminus, 'vote' 