.page-header
  %h1 Resend unlock instructions
.row
  .span10
    = twitter_bootstrap_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "form-stacked" }) do |f|
      = f.inputs do
        = f.email_field :email
      = f.actions do
        = f.submit "Resend unlock instructions"
  .span4
    = render :partial => "users/shared/links"