- id = "user-#{model.id}-#{SecureRandom.hex(4)}"
=content_for :javascripts do
	:coffeescript
		# TODO: Move to data attributes and make a window.initHovercards function in global.js
		$(document).ready () ->
			html = "<div style='padding-top: 5px;'>#{model.name}</div>
			<div>#{pluralize(model.projects_count, 'project')} &nbsp;<i class='icon-briefcase'></i></div>
			<div>#{model.reputation} reputation &nbsp;<i class='icon-certificate'></i></div>"
			$("##{id}").hovercard
				detailsHTML: html
				width: 300
				cardImgSrc: "#{model.profile.avatar.image.small.url}"
				openOnTop: true
				delay: 500

-# TODO: make the image a circle
%label.hc{ id: id }
	= link_to model.username, profile_path(model.profile)