- id = "user-#{model.id}-#{SecureRandom.hex(4)}"
=content_for :javascripts do
	:coffeescript
		$(document).ready () ->
			html = "<h5 style='padding-top: 5px;'>#{model.name}</h5>
			<h6>#{pluralize(model.projects_count, 'project')} &nbsp;<i class='icon-briefcase'></i></h6>
			<h6>#{model.reputation} reputation &nbsp;<i class='icon-certificate'></i></h6>"
			$("##{id}").hovercard
				detailsHTML: html
				width: 300
				cardImgSrc: "#{model.profile.avatar.image.small.url}"
				openOnTop: true
				delay: 500

-# TODO: make the image a circle
%label.hc{ id: id }
	= link_to model.username, profile_path(model.profile), class: 'color-base'