- id = "user-#{model.id}-#{SecureRandom.hex(4)}"
=content_for :javascripts do
	:coffeescript
		$(document).ready () ->
			html = "<p>a.k.a #{model.name}</p>"
			$("##{id}").hovercard
				detailsHTML: html
				width: 300
				cardImgSrc: "#{model.profile.avatar.image.small.url}"

-# TODO: make the image a circle
%label.hc{ id: id }
	= link_to model.username, profile_path(model.profile)