=content_for :javascripts do
	:javascript
		//
		window.project_tags = #{raw  @tags['tags'].to_json}
		//
		window.selected_project_tags = #{raw @selected_tags['tags'].to_json}
		//
		$(document).ready(function() {
			$('#project_tag_tokens').tokenInput(window.project_tags, { theme : 'facebook', preventDuplicates: true, tokenLimit: 100, prePopulate: window.selected_project_tags, createTokenFromQuery: true } );
		});

.row
	.span12
		= simple_form_for [@user, @project], :html => {:class => "form-horizontal"} do |f|
			= f.input :name, input_html: {class: :span4}
			%br
			= f.input :description, input_html: {rows: 5, class: :span4}
			%br
			= f.input :tag_tokens, label: "Tags"
			%br
			.form-actions
				= f.button :submit, :class => 'btn-primary'
				= link_to I18n.t('cancel'), :back, :class => 'btn btn-danger'
