.project
	.row-fluid
		.span12.image
			= link_to user_projects_path([project.user, project]) do image_tag project.avatar.image.medium end
	.row-fluid
		.span12.info
			.row-fluid
				.span12
					%h2.name= link_to project.name, user_projects_path([project.user, project])
			.row-fluid
				.span12
					%p.description= project.description
			.row-fluid
				.span12.bottom
					.row-fluid
						.span12.tags
							= list_tags project.tags
					.row-fluid
						.span3.energy.center
							%strong= project.energy
							%b.hidden-desktop
							%i.icon-bolt
							%p.visible-desktop= project.energy == 1 ? 'volt' : 'volts'
						.span3.views.center
							%strong= project.view_count
							%b.hidden-desktop
							%i.icon-eye-open
							%p.visible-desktop= project.view_count == 1 ? 'view' : 'views'
						.span3.lovers.center
							%strong= project.votes_for
							%b.hidden-desktop
							%i.icon-heart
							%p.visible-desktop= project.votes_for == 1 ? 'lover' : 'lovers'
						.span3.user
							= link_to project.user.profile do
								= image_tag project.user.avatar.image.small, class: 'circle', alt: project.user.username, title: project.user.username