.span4.project.box-shadow
	.image
		= link_to user_projects_path([project.user, project]) do image_tag project.avatar.image.medium end
	.info.fluid-row
		%h2.name= link_to project.name, user_projects_path([project.user, project])
		%p.description= project.description
		.bottom
			.span10.tags
				= list_tags project.tags
		.span2.user
			= link_to project.user.profile do
				= image_tag project.user.avatar.image.small, class: 'circle'