.project-vote
    .btn-toolbar
        - if current_user
            .btn-group            
                - if current_user.voted_for? @project
                    = link_to pluralize(@project.votes_for, 'Star'), "#", class: 'btn'
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :cancel}}), method: :put, remote: :true, class: 'btn btn-warning', rel: :tooltip, title: 'unstar', 'data-placement' => 'top' do
                        %i.icon-star
                - else
                    .btn
                        = pluralize(@project.votes_for, 'Star')
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :for}}), method: :put, remote: :true, class: 'btn', rel: 'tooltip', title: 'star', 'data-placement' => 'top' do
                        %i.icon-star-empty.opacity4
            .btn-group
                - if current_user.voted_against? @project            
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :cancel}}), method: :put, remote: :true, class: 'btn btn-danger', rel: 'tooltip', title: 'unflag', 'data-placement' => 'top' do
                        %i.icon-flag
                - else
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :against}}), method: :put, remote: :true, class: 'btn', rel: 'tooltip', title: 'flag as inappropriate', 'data-placement' => 'top' do
                        %i.icon-flag.opacity4
        - else
            .btn-group 
                .btn
                    = pluralize(@project.votes_for, 'Star')