.project-vote
    .btn-toolbar
        - if current_user
            .btn-group            
                - if current_user.voted_for? @project
                    = link_to pluralize(@project.votes_for, 'Lover'), "#", class: 'btn', rel: :tooltip, title: 'including you!', 'data-placement' => 'bottom'
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :cancel}}), method: :put, remote: :true, class: 'btn btn-success', rel: :tooltip, title: 'unlove', 'data-placement' => 'bottom' do
                        %i.icon-heart
                - else
                    .btn
                        = pluralize(@project.votes_for, 'Lover')
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :for}}), method: :put, remote: :true, class: 'btn', rel: 'tooltip', title: 'send love', 'data-placement' => 'bottom' do
                        %i.icon-heart.opacity4
            .btn-group
                - if current_user.voted_against? @project            
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :cancel}}), method: :put, remote: :true, class: 'btn btn-warning', rel: 'tooltip', title: 'unflag', 'data-placement' => 'left' do
                        %i.icon-flag
                - else
                    = link_to user_project_url(@user, @project, project: {cast_vote: {vote: :against}}), method: :put, remote: :true, class: 'btn', rel: 'tooltip', title: 'flag as inappropriate', 'data-placement' => 'left' do
                        %i.icon-flag.opacity4
        - else
            .btn-group 
                .btn
                    = pluralize(@project.votes_for, 'Lover')