-content_for :title do "#{@project.name}" end

#project
	.container-fluid
		.row-fluid
			.span12.page-header
				- if can? :update, @project
					.row-fluid
						.span12
							.pull-right
								= link_to edit_user_project_path(@user, @project) do
									Edit
									%i.icon-edit
				.row-fluid
					.span12
						%h1.center 
							= link_to @project.name, user_project_path(@user, @project)
				.row-fluid
					.span12
						%p.center
							by
							= link_to @user.username, profile_path(@user.profile)
						
	.container-fluid
		.content.box-shadow
			.row-fluid
				.span12
					.container-fluid
						.row-fluid
							.span8
								.row-fluid
									.span12
										= image_tag(@project.avatar.image.large.url)
										%hr
								.row-fluid
									.span12
										.pull-right
											= render "vote"
										%h2 <<< share links >>>
										%hr
								.row-fluid
									.span12
										= markdown @project.description
										%hr
								.row-fluid
									.span12
										%h2 <<< comments >>>
										%hr
							.span4
								.row-fluid
									.span12
										%h2
											%span.pull-right= pluralize @project.energy, 'volt'
											%i.icon-bolt
										%hr
								.row-fluid
									.span12
										%h2
											%span.pull-right= pluralize @project.view_count, 'view'
											%i.icon-eye-open
										%hr
								.row-fluid
									.span12
										%h2
											%span.pull-right= pluralize @project.votes_for, 'lover'
											%i.icon-heart
										%hr
								.row-fluid
									.span12
										%h2= @project.state
										%hr
								.row-fluid
									.span12
										= list_tags @project.tags
										%hr
