-content_for :title do "#{@project.name}" end

#project
	= div_for @project, class: 'project' do
		.container-fluid
			.row-fluid
				.span12.page-header
					- if can? :update, @project
						.row-fluid
							.span12
								.pull-right
									= link_to edit_user_project_path(@project.user, @project) do
										Edit
										%i.icon-edit
					.row-fluid
						.span12
							%h1.center 
								= link_to @project.name, user_project_path(@project.user, @project)
					.row-fluid
						.span12
							%p.center
								by
								= link_to @project.user.username, profile_path(@project.user.profile)
							
		.container-fluid
			.content.box-shadow
				.row-fluid
					.span12
						.container-fluid
							.row-fluid
								.span8
									.row-fluid
										.span12
											= image_tag(@project.avatar.image.large.url)
											%hr
									.row-fluid
										.span12
											.row-fluid
												.span12
													.pull-right.display-inline-block= render "vote"
													.hidden-phone.opacity5.display-inline-block.addthis_toolbox.addthis_default_style.addthis_32x32_style{style: 'width: 333px; margin-top: 13px;'}
														%a.addthis_button_facebook
														%a.addthis_button_twitter
														%a.addthis_button_pinterest
														%a.addthis_button_stumbleupon
														%a.addthis_button_reddit
														%a.addthis_button_email
														%a.addthis_button_compact
														%a.addthis_counter.addthis_bubble_style
													.visible-phone.opacity5.display-inline-block.addthis_toolbox.addthis_default_style.addthis_32x32_style{style: 'width: 300px; margin-top: 13px;'}
														%a.addthis_button_facebook
														%a.addthis_button_twitter
														%a.addthis_button_pinterest
														%a.addthis_button_stumbleupon
														%a.addthis_button_reddit
														%a.addthis_button_email
														%a.addthis_counter.addthis_bubble_style
													%script{:src => "http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e07edfe1206c99f", :type => "text/javascript"}
													-# %h6.center <<< link >>>
											%hr
									.row-fluid
										.span12
											= markdown @project.description
											%hr
									.row-fluid
										.span12
											= render 'comments/comments', commentable: @project
								.span4
									.row-fluid
										.span12
											%h2
												%span.pull-right= pluralize @project.energy, 'volt'
												%i.icon-bolt
											%hr
									.row-fluid
										.span12
											%h2
												%span.pull-right= pluralize @project.view_count, 'view'
												%i.icon-eye-open
											%hr
									.row-fluid
										.span12
											%h2
												%span.pull-right= pluralize @project.votes_for, 'star'
												%i.icon-star
											%hr
									.row-fluid
										.span12
											%h2
												%span.pull-right= @project.state
												State:
											%hr
									.row-fluid
										.span12
											= list_tags @project.tags
											%hr
									.row-fluid
										.span12
											%h6 Created by:
											.row-fluid
												.span4
													= link_to @project.user.profile, title: @project.user.username do 
														= image_tag @project.user.profile.avatar.image.medium, class: "circle"
												.span8
													%h3= link_to @project.user.username, @project.user.profile
													%h4= @project.user.name
													%h6
														= @project.user.projects.count
														= @project.user.projects.count == 1 ? 'project' : 'projects'
														&nbsp;
														%i.icon-briefcase
													%h6
														= @project.user.reputation
														reputation
														&nbsp;
														%i.icon-certificate
												
											%hr
									.row-fluid.members
										.span12
											%h2 
												%i.icon-group
												members
												%span.pull-right
													= render 'join_link', project: @project
											= render 'join_requests', project: @project  
											.row-fluid.list
												- @project.members.each do |user|
													.span2
														= link_to user.profile, title: user.username do 
															= image_tag user.profile.avatar.image.small, class: "circle", alt: user.username
											%hr 
									.row-fluid.participants
										.span12
											%h2
												%i.icon-comment
												participants
											.row-fluid.list
												- @project.participants.each do |user|
													.span2
														= link_to user.profile, title: user.username do 
															= image_tag user.profile.avatar.image.small, class: "circle", alt: user.username
											%hr 
									.row-fluid.followers
										.span12
											%h2 
												%i.icon-star
												followers
											.row-fluid.list
												- @project.followers.each do |user|
													.span2
														= link_to user.profile, title: user.username do 
															= image_tag user.profile.avatar.image.small, class: "circle", alt: user.username

											%hr


