-content_for :title do "#{@project.name}" end

.page-header
	%h1 
		.pull-right
			= render "vote"
		= link_to @user.username, profile_path(@user.profile), rel: :tooltip, title: 'creator', 'data-placement' => 'bottom'
		\/
		= link_to @project.name, user_project_path(@user, @project), rel: :tooltip, title: 'project', 'data-placement' => 'bottom'
.row
	.span12
		%p
		= link_to 'Edit', edit_user_project_path(@user, @project)
		%p
			%b Name:
			= @project.name
		%p
			%b Description:
			= @project.description
		%p
			%b Tags:
			= @project.tag_list
		%p
			%b State:
			= @project.state
