/
	∙                                       --.-- .--.         
	∙                            _|_          |  :    :        
	∙         .-.  .--. .-.  .--. |  .-.      |  |    |        ○
	∙        (   ) |  |(   ) |  | | (   )     |  :    ;        
	∙         `-'`-'  `-`-'`-'  `-`-'`-'`-  --'-- `--'         

= raw analytical.head_prepend_javascript

%meta{ charset: "utf-8" }

-# Use the .htaccess and remove these lines to avoid edge case issues.
%meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }

-# Mobile viewport optimized: j.mp/bplateviewport
%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

%title
	- title = yield :title
	= raw("#{( !title.blank? ? title : "#{controller.controller_name.titleize} | #{controller.action_name.titleize}" )} \&middot; Ananta IO")
  
%meta{ name: "description", content: "" }
%meta{ name: "author", content: "" }

-# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons

= render "stylesheets"

-# More ideas for your <head> here: h5bp.com/d/head-Tips

- unless Rails.env.test?
	-# All JavaScript at the bottom, except this Modernizr build incl. Respond.js
	-# Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
	-# for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/
	= javascript_include_tag "polyfills"
	= javascript_include_tag "css_browser_selector"
	= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js"
	-# = javascript_include_tag "http://use.typekit.com/yng4qye.js"
	-# :javascript
	-#   try{Typekit.load();}catch(e){}

= csrf_meta_tag

- analytical.identify( current_user.id, { name: current_user.username } ) if current_user
- analytical.set( { id: current_user.id, created_at: current_user.created_at, sign_in_count: current_user.sign_in_count, last_sign_in_at: current_user.last_sign_in_at } ) if current_user
= raw analytical.head_append_javascript