#mark
.navbar
    .navbar-inner
        .container  
            -# Left
            %a.brand{:href => "/"} 
                ananta IO
                %i.icon-home
            -# Right
            .user-nav
                %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                .nav-collapse
                    %ul.nav.pull-right
                        -if current_user
                            %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                    %i.icon-chevron-down
                                %ul.dropdown-menu
                                    %li.center
                                        = current_user.username.possessive
                                    %li
                                        = link_to current_user.profile do
                                            %i.icon-user
                                            profile
                                    %li
                                        = link_to "/users/edit" do
                                            %i.icon-cog
                                            account
                                    %li
                                        %hr
                                    %li
                                        = link_to "logout", "/logout"
                        -else
                            %li
                                = link_to "login", "/login"
            -# Center
            %ul.nav.center
                %li
                    = link_to "?", "#"