=content_for :javascripts do
	:javascript
		$(function() {
			// Add marq to view
			Ananta.App.marqRouter = new Ananta.Routers.MarqRouter({
				q_controller: "#{params[:controller]}",
				q_action: "#{params[:action]}",
				q_sid: "#{params[:id]}"
			});
			// Backbone.history.start();
		});
		// Open and close marq
		$('#marq_toggle a').click(function(e) {
			$('#marq_toggle a').toggleClass('active');
			$('#marq').slideToggle('fast');
			e.preventDefault();
			e.stopPropagation();
		});

-# Marq slide down container
-# Starts as display:none
#marq

-# Top Nav
.navbar
	.navbar-inner
		.container
			.user-nav
				= render 'user_nav'  
			-# Center
			%ul.nav.center
				%li#marq_toggle
					= link_to "?", "#"