=content_for :javascripts do
	:javascript
		$(function() {
			// Add marq to view
			Ananta.router = new Ananta.Routers.MarqRouter();
			Backbone.history.start();
		});
		// Open and close marq
		$('#marq_toggle a').click(function() {
			$('#marq_toggle a').toggleClass('active');
			$('#marq .container').slideToggle('slow');
		});

-# Marq slide down container
#marq

-# Top Nav
.navbar
	.navbar-inner
		.container  
			-# Left
			%a.brand{:href => "/"} 
				ananta IO
				%i.icon-home
			-# Right
			.user-nav
				%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				.nav-collapse
					%ul.nav.pull-right
						-if current_user
							%li
								= link_to current_user.profile, rel: :tooltip, 'data-placement' => 'bottom', 'data-delay' => 300, 'data-original-title' => raw( "<img src='#{current_user.profile.avatar.image.small.url}' alt='#{current_user.username}' width=32 height=32 />" ) do
									%i.icon-user
							%li.dropdown
								%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
									%i.icon-chevron-down
								%ul.dropdown-menu
									%li.nav-header
										= current_user.username.possessive
									%li
										= link_to "/users/edit" do
											%i.icon-cogs
											settings
									%li.divider
									%li
										= link_to "/logout" do
											%i.icon-signout
											logout
						-else
							%li.dropdown
								%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", rel: :tooltip, 'data-placement' => 'bottom', 'data-original-title' => 'login'}
									%i.icon-signin
								%ul.dropdown-menu
									= form_for(User.new, :url => user_session_path) do |f|
										%li.nav-header
											= f.text_field :login, class: 'span2', placeholder: 'username or email', autofocus: true
										%li.nav-header
											= f.password_field :password, class: 'span2', placeholder: 'password'
										%li.center.right
											= f.submit :login, class: 'btn btn-info'
									%li.divider
									%li
										= link_to "Sign Up", "users/sign_up"
									%li
										= link_to "Forgot Password", "users/password/new"
			-# Center
			%ul.nav.center
				%li#marq_toggle
					= link_to "?", "#"