=content_for :javascripts do
	:javascript
		$(function() {
			// Add marq to view
			Ananta.router = new Ananta.Routers.MarqRouter({
				q_controller: "#{params[:controller]}",
				q_action: "#{params[:action]}",
				q_sid: "#{params[:id]}"
			});
			// Backbone.history.start();
		});
		// Open and close marq
		$('#marq_toggle a').click(function(e) {
			$('#marq_toggle a').toggleClass('active');
			$('#marq').slideToggle('fast');
			e.preventDefault();
			e.stopPropagation();
		});

-# Marq slide down container
-# Starts as display:none
#marq

-# Top Nav
.navbar
	.navbar-inner
		.container  
			-# Left
			- if !current_user and request.path == '/'
				%a.brand{:href => "/"}
					ananta IO
			- else
				%a.brand{:href => "/"} 
					ananta IO
					%i.icon-home
			-# Right
			.user-nav
				%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				.nav-collapse
					%ul.nav.pull-right
						-if current_user
							%li
								= link_to current_user.profile, rel: :tooltip, 'data-placement' => 'bottom', 'data-delay' => 0, 'data-original-title' => raw( "Me<br/><img src='#{current_user.profile.avatar.image.small.url}' alt='#{current_user.username}' width=32 height=32 class='circle' />" ) do
									%i.icon-user
							%li.dropdown
								%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", rel: :tooltip, 'data-placement' => 'bottom', 'data-delay' => 0, 'data-original-title' => raw( "<i class='icon-chevron-down' />" )}
									%i.icon-book
								%ul.dropdown-menu
									%li.nav-header
										%a.pull-right{:href => "/"} 
											%i.icon-plus
										%i.icon-list-alt
										My projects
									- current_user.projects.each do |project|
										%li
											= link_to [current_user, project] do
												%i.icon-play
												= project.name
									%li.divider
									%li.nav-header
										%i.icon-list-alt
										Joined projects
									%li.divider
							%li.dropdown
								%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", rel: :tooltip, 'data-placement' => 'bottom', 'data-delay' => 0, 'data-original-title' => raw( "<i class='icon-chevron-down' />" )}
									%i.icon-cogs
								%ul.dropdown-menu
									%li.nav-header
										Settings
									%li
										= link_to edit_profile_path(current_user.profile) do
											%i.icon-cog
											profile
									%li
										= link_to "/users/edit" do
											%i.icon-cog
											account
									%li.divider
									%li
										= link_to "/logout" do
											%i.icon-signout
											logout
						-else
							%li
								%a.login
									%i.icon-signin
			-# Center
			%ul.nav.center
				%li#marq_toggle
					= link_to "?", "#"