-# Left
- if !current_user and request.path == '/'
	%a.brand{:href => "/"}
		ananta IO
- else
	%a.brand{:href => "/"} 
		ananta IO
		%i.icon-home
-# Right
%ul.nav.pull-right
	-if current_user
		-#
			%li
				%a.search
					%i.icon-search
					%i.icon-chevron-left
		%li
			= link_to random_unanswered_questions_path do
				%i.icon-random

		%li.dropdown.projects
			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
				%i.icon-briefcase
				%i.icon-chevron-down
			%ul.dropdown-menu
				%li.nav-header
					= link_to new_user_project_path(current_user), :class => 'pull-right' do
						%i.icon-plus
					%i.icon-list-alt
					My projects
				- current_user.projects.each do |project|
					%li
						= link_to [current_user, project] do
							%i.icon-wrench
							= project.name
				%li.divider
				%li.nav-header
					%i.icon-list-alt
					Joined projects
				%li.divider
				%li.nav-header
					= link_to random_projects_path, :class => 'pull-right' do
						%i.icon-random
					%i.icon-wrench
					All projects
				%li
					= link_to projects_path do
						%i.icon-th
						Explore projects
						
		%li.dropdown.user
			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
				%i.icon-user
				- if count = current_user.notifications.unviewed.count and count > 0
					%span.count
						= count
				%i.icon-chevron-down
			%ul.dropdown-menu
				%li.nav-header
					%span.display-inline-block
						= link_to current_user.profile do
							= image_tag current_user.profile.avatar.image.small.url, width: 24, height: 24, class: 'circle'
					= current_user.username
				%li
					= link_to current_user.profile do
						%i.icon-user
						my profile
				%li
					= link_to edit_profile_path(current_user.profile) do
						%i.icon-cogs
						settings
				%li
					= link_to "/logout" do
						%i.icon-signout
						logout
				%li.divider
				= render "application/notifications"
				%li.divider
				%li.nav-header
					= link_to random_users_path, :class => 'pull-right' do
						%i.icon-random
					%i.icon-group
					All people
				%li
					= link_to users_path do
						%i.icon-th
						Explore people
				
	-else
		%li
			= link_to random_unanswered_questions_path do
				%i.icon-random
		%li
			= link_to projects_path do
				%i.icon-th
		%li
			%a.login
				%i.icon-signin