-# Left
- if !current_user and request.path == '/'
	%a.brand{:href => "/"}
		ananta IO
- else
	%a.brand{:href => "/"} 
		ananta IO
		%i.icon-home
-# Right
%ul.nav.pull-right
	-if current_user
		%li
			= link_to current_user.profile, rel: :tooltip, 'data-placement' => 'bottom', 'data-delay' => 0, 'data-original-title' => raw( "Me<br/><img src='#{current_user.profile.avatar.image.small.url}' alt='#{current_user.username}' width=32 height=32 class='circle' />" ) do
				%i.icon-user
		%li.dropdown.user-projects
			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
				%i.icon-book
			%ul.dropdown-menu
				%li.nav-header
					= link_to new_user_project_path(current_user), :class => 'pull-right' do
						%i.icon-plus
					%i.icon-list-alt
					My projects
				- current_user.projects.each do |project|
					%li
						= link_to [current_user, project] do
							%i.icon-play
							= project.name
				%li.divider
				%li.nav-header
					= link_to random_projects_path, :class => 'pull-right' do
						%i.icon-random
					%i.icon-list-alt
					Joined projects
				%li.divider
		%li.dropdown.user-settings
			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
				%i.icon-cogs
			%ul.dropdown-menu
				%li.nav-header
					Settings
				%li
					= link_to edit_profile_path(current_user.profile) do
						%i.icon-cog
						profile
				%li
					= link_to "/users/edit" do
						%i.icon-cog
						account
				%li.divider
				%li
					= link_to "/logout" do
						%i.icon-signout
						logout
	-else
		%li
			%a.login
				%i.icon-signin