.page-header
  %h1 Edit account
.row
  .span14
    = twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-stacked" }) do |f|
      = f.inputs do
        - if(resource.username_editable?)
          = f.text_field :username do
            %span.help-block.tooltip{"data-placement" => "below", "title" => "This is NOT your name. It is just your unique identifier. If you don't want to change it you don't have to"}
              you may change your username once
              %br no rush, do it later if you want
        - else
          = f.text_field :username, :class => "disabled", :disabled => true do
            %span.help-block
              cannot be changed
        = f.email_field :email, :class => "disabled", :disabled => true do
          %span.help-block
            cannot be changed
        = f.password_field :password do
          %span.help-block
            leave password blank if you
            %br/
            don't want to change it
        = f.password_field :password_confirmation
        = f.password_field :current_password do
          %span.help-block
            we need your current password
            %br/
            to confirm your changes
      = f.actions do
        = f.submit "Update"
    %h3 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
    = link_to "Back", :back